/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* global style */
.container {
    width: 80%;
    margin: auto;
}

.padding-top-bottom {
    padding: 4% 0%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}



/* custom style */
.card-hover {
    width: 30%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 4px 3px lightgray;

}

.card-hover img {
    width: 100%;
}

.card-position-absolute {
    position: absolute;
    top: 88%;
    background: white;
    height: 100%;
    transition: 1s;
}

.card-hover:hover .card-position-absolute {
    top: 0;
}

/* Pseudo class  */
ul li:first-child {
    color: red;
}

ul li:last-child {
    color: blue;
}

ul li:nth-child(2) {
    color: teal;
    font-size: 20px;
}

.custom-class p {
    color: goldenrod;
}

.custom-class .custom-class-p {
    color: red;
}

#about-section .card {}

#contact-section .card {}

table {
    width: 50%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid lightgray;
    padding: 2%;
}



/* tr:nth-child(3) , tr:nth-child(5) , tr:nth-child(7){
    background-color: lightgray;
} */

/* nth-child ==> number , even , odd */
tr:nth-child(odd) {
    background-color: lightgray;
}

tr:first-child {
    background-color: teal;
    color: white;
}

tr:nth-child(even):hover {
    background-color: lightcoral;
}

tr:nth-child(odd):hover {
    background-color: lightblue;
}

.custom-form {

    width: 50%;
    margin: 4% auto 4%;
}

.custom-form input:disabled {
    background-color: goldenrod;
}

input:checked {
    box-shadow: 0px 0px 4px 3px blue;
    width: 30px;
    height: 30px;
}

/* https://www.w3schools.com/cssref/css_ref_pseudo_classes.php */

/* Pseudo element ==> specific part of tag */

h2::first-line {
    color: blue;
}

h2::first-letter {
    color: red;
    font-size: 35px;
}

input::placeholder {
    color: blue;
}

::selection {
    background-color: goldenrod;
    color: white;
}

ol li::marker {
    color: blue;
    font-size: 20px;
}

/* ::before , ::after */

.custom-div {
    background-color: lightgray;
    padding: 2%;
    font-size: 25px;
    margin: 4% 0%;
    position: relative;
}

.custom-div::before {
    content: "Web Design";
    background: antiquewhite;
    padding: 2%;
    width: 50%;
    display: inline-block;
    border-right: 4px solid blue;
}

.custom-div::after {
    content: "";
    /* width: 0; */
    /* height: 0; */
    /* background-color: lightgray; */
    position: absolute;
    top: 100%;
    left: 10%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}


/* .square{
       width: 20px;
    height: 20px;
    background-color: lightgray;
    position: absolute;
    top: 100%;
} */

.transform-card{
    width: 35%;
   
    color: white;
    padding: 3%;
    font-size: 20px;
    transition: 1s;
}
.bg-teal{
     background-color: teal;
}
.bg-gold{
    background-color: goldenrod;
}
.transform-card:hover{
    transform: translateX(100px);
    transform: translateX(50%);
    transform: translateX(-50%);
    transform: translateY(100px);
    transform: translateY(-80%);
    transform: translate(100px , 50%);
    transform: rotateX(180deg);
    transform: rotateX(-180deg);
    transform: rotate(50deg);
    transform: rotate(-90deg);
    transform: scaleX(1.5);
    transform: scaleX(0.5);
    transform: scaleX(0);
    transform: scaleY(0.5);
    transform: scaleY(1.5);
    transform: scale(1.5);
    transform: skewX(40deg);
    transform: skewX(-40deg);
    transform: skewY(40deg);
    /* matrix ==> scaleX() , skewY() , skewX , scaleY translateX translateY */
    transform: matrix(1.3 , 0 , 0.4 , 0.5 , 200 , 150 );

}
.custom-transform-card{
    width: 35%;
    box-shadow: 0px 0px 4px 3px lightgray;
    /* hidden , scroll , auto ==> search */
    overflow: hidden;
}
.custom-transform-card img{
    width: 100%;
    transition: 1s;
}
.custom-transform-card:hover img{
    /* transform: rotate(10deg); */
    transform: scale(1.4) rotate(10deg);
}
.overflow-hidden{
    overflow: hidden;
}

